body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 300px;
  }
  
  #container {
    border-radius: 10px;
    box-shadow: 0 7px 29px 0 #64646f33;
    /* padding: 10px 22px 10px 22px; */
    padding: 13px;
    margin: 10px;
    /* height: 100vh; */
  }

  #ad-section {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #img-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  
  #ad-section h2 {
    margin: 0;
    font-size: 18px;
    color:#20b1fa;
  }
  
  .ad {
    background: #e0f7fa;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    width: 95%;
  }
  
  .ad p {
    margin: 0;
    font-size: 12px;
  }
  button{
    cursor: pointer;
  }
  .try-btn, .dismiss-btn {
    background:none;
    border: none;
    color: white;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 12px;
  }
  .try-btn{
    color:#0a9ee8;
    font-weight: 600;
  }
  .dismiss-btn{
    color: rgb(162, 162, 162);
    font-weight: 600;
  }
  
  .try-btn:hover, .dismiss-btn:hover {
    font-size: 12.5px;
    background: none;
  }
  
  #main-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #main-content h2 {
    margin: 0;
    font-size: 14px;
  }
  
  .question {
    background: #f1f1f1;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
  }
  
  #footer {
    background: #e0f7fa;
    padding: 6px;
    border-radius: 5px;
    font-size: 12px;
    color: #555;
    margin-top: 5px;
  }
  
  #footer a {
    color: #1a73e8;
    text-decoration: none;
  }

  #closeBtn2{
    height: 15px;
    width: 15px;
    font-size: 6px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 95%;
    border: none;
    background-color: white;
  }
  